$color-blue-tint : #202142;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  // line-height: 1.7;
  background-color: $color-blue-tint;
  color: white;
}


//S C R E E N  C O N T A I N E R
.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


// N A V B A R
nav {
  background-color: rgba(0, 0, 0, 0.388);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);
}

.logo-box {
  display: flex;

  &__img {
    padding-right: 1rem;
  }

  &__title {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    margin-top: 1rem;
  }
}

.nav_buttons {
  display: flex;
  justify-content: space-between;
  width: 20%;

  &__home {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    padding: 1rem;
    border-radius: 5px;

    &:hover {
      background-color: grey;

    }
  }

  &__about {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    padding: 1rem;
    border-radius: 5px;

    &:hover {
      background-color: grey;

    }
  }


}


// A B O U T  P A G E

.about {
  padding: 0 5rem;

  // &__heading {
  // }
  &__paragraph {
    padding: 6rem 0;
  }
}

// N O T  F O U N D  P A G E

.notFound {
  text-align: center;

  // &__header {

  // }

  &__subHeader {
    padding: 5rem 0;
  }

  &__link {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    background-color: blueviolet;
    padding: 1rem 2rem;
    border-radius: 5px;
  }
}












// F O O T E R

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.388);
  padding: 2rem 2rem;
  box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);
}

//SPINNER
.spinner {
  text-align: center;
}


//USER-BOX

.user-grid {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0;

  &__box {
    // border: 1px solid red;
    margin: 1rem;
    padding: 2rem;
    height: 10rem;
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.337);
    box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);
    display: flex;
    border-radius: 5px;
  }
}

.card-img {
  // width: 4rem;
  border-radius: 50%;
}

.card-heading {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.card-link {
  padding-left: 2rem;
  text-decoration: none;
  color: grey;
  font-size: small;


}

//USER SEARCH
.search {
  margin: 4rem 4rem;

  &__form {}

  &__input {
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    outline: none;
    border-style: none;
    width: 30%;
    margin-right: 2rem;
    appearance: none;
    box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);

    &:focus {
      outline: none;
    }
  }

  &__button {
    padding: 1.2rem 2.5rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.388);
    border: none;
    color: white;
    box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);
  }
}

.clear-button {
  text-transform: uppercase;
  margin-top: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  padding: .5rem 1rem;
  border-radius: .5rem;

  &:hover {
    background-color: grey;
  }
}



//SINGLE USER COMPONENT
.user {
  display: flex;
  background-color: rgba(0, 0, 0, 0.388);
  padding: 4rem 5rem;
  max-width: 85%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
  box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);

  &__img-side {
    // background-color: red;
  }

  &__img {
    height: 20rem;
    width: 20rem;
    display: block;
    margin-bottom: 1rem;
    border-radius: .6rem;
    box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);
  }

  &__link {
    text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      align-self: flex-start;   
      display: block;
  }


  &__detail-side {
    // background-color: green;
  }

  &__name {
    margin-bottom: 1rem;
  }

  &__status {
    color: green;
    text-transform: capitalize;
    background-color: rgba(0, 128, 0, 0.347);
    padding: .3rem .7rem;
    border-radius: 1rem;
    margin-right: 1.5rem;
  }

  &__hireable {
    color: lightseagreen;
    text-transform: capitalize;
    background-color: rgba(32, 178, 171, 0.308);
    padding: .3rem .7rem;
    border-radius: 1rem;
  }

  &__bio {
    margin: 2.5rem 0;
  }

  &__githubURL {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    padding: .8rem .7rem;
    border-radius: .5rem;
  }

  &__location {

    background-color: #202142;
    display: inline-block;
    margin-top: 2rem;
    
    padding: 1.2rem 1rem;
    border-radius: .6rem;
    box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);
    &__title {
      font-size: 1.3rem;
      text-transform: capitalize;
      color: grey;
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
    &__data {
      font-size: 1.6rem;
      font-weight: 500;
      
    }
  }

  &__website {

    background-color: #202142;
    display: inline-block;
    margin-top: 2.5rem;
    margin-left: 2rem;
    padding: 1.2rem 1rem;
    border-radius: .6rem;
    box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);
    &__title {
      font-size: 1.3rem;
      text-transform: capitalize;
      color: grey;
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
    &__data {
      font-size: 1.6rem;
      font-weight: 500;
      
    }
  }
}


//CARD

.card {

  display: flex;
  background-color: rgba(0, 0, 0, 0.388);
  width: 17rem;
  margin: 2rem auto;
  padding: 2rem 3rem;
  gap: 2rem;
  border-radius: .6rem;
  box-shadow: .7rem .7rem 1rem .5rem rgba(0, 0, 0, 0.238);

  &__details {
    text-transform: capitalize;
    color: grey;
    font-size: 1.2rem;
  }

  &__followers{
    color: white;
    font-size: 1.9rem;
  }

  &__logo {

  }

}